{% extends 'base.html.twig' %}

{% block body %}
    <h1>Confirmation de réservation</h1>
    <p>Votre réservation a été confirmée avec succès ! Voici les détails :</p>
    <ul>
        <li>ID de la réservation : {{ reservation.id }}</li>
        <li>Passager : {{ reservation.passager.prenom }}</li>
        <li>Trajet : {{ reservation.trajet.lieuDepart }}</li>
    </ul>
{% endblock %}
