{% extends 'base.html.twig' %}

{% block title %}Confirmation de réservation{% endblock %}

{% block body %}
    <h1>Confirmation de réservation</h1>
    <p>Votre réservation a été confirmée avec succès.</p>
    <p>Numéro de réservation : {{ reservations.id }}</p>
    <p>Date de réservation : {{ reservations.dateReservation|date('d/m/Y H:i') }}</p>
    <p>Trajet réservé : {{ reservations.trajet }}</p>
    <p>Passagers : {{ reservations.passagers|join(', ') }}</p>
{% endblock %}
