<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}Application covoiturage
			{% endblock %}
		</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> {% block stylesheets %}{% endblock %}{% block javascripts %}{% endblock %}

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="{{ path('trajet.list') }}">Trajets</a>
				</div>

				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<div>
								<a href="{{ path('trajet.create') }}" class="btn btn-default navbar-btn">Créer un trajet</a>
							</div>
							{% if not app.user %}
						<li>
							<a href="{{ path('app_login') }}">Connexion</a>
						</li>
						{% endif %}
						{% if app.user %}
							<li>
								<a href="{{ path('app_logout') }}">Déconnexion</a>
							</li>
						{% endif %}
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container"> {% block body %}{% endblock %}
			</div>
		</body>
	</html>
