<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}test
			{% endblock %}
		</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> {% block stylesheets %}{% endblock %}{% block javascripts %}{% endblock %}

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body></body>
</html>
